.main_container{
    display: flex;
    width: 100%;
    margin-left: -0.4%;
    padding: 0%;

}

.main_container div {
    height: 100%;
    border: 1px solid black;
    margin: 0.5%;
    padding: 1%;
}

.left_panel{
    flex: 20%;
}

.discussion_div {
    flex: 50%
}

.right_panel{
    flex : 20%;
}

.post{
    display: flex;
    margin: 0;
    padding: 0;
}

.post_content {
    flex: 90%;
    margin: 0;
    padding: 0;
}

.post_links{
    border: 1px solid black;
    flex: 10%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.post * {
    margin: 0;
    padding: 0;
}

