.main_container{
    display: flex;
    width: 79.8%;
    padding: 0.2%;
}

.main_container div {
    height: 100%;
    border: 1px solid black;
    margin: 0.5%;
    padding: 1%;
}

.left_panel{
    flex: 15%;
}

.discussion_div {
    flex: 60%
}

.right_panel{
    flex : 12%;
}