.recentDiscussions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.recentDiscussionList{
    text-align: center;
}

.recentDiscussions p{
    width : 10%
}