.header{
    width: 100%;
}

.toolBar {
    display: flex;
    left: 0;
    top: 0;
    border-bottom: 1px solid black;
    padding: 0.5% 0% 0.8% 0%;
    height: 30px;
    width: 100%;
    background-color: rgb(31, 30, 31);
    display: flex;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

/* ---------------- home link and new discussion ---------------- */

.newAndHome{
    flex: 10%;
    height: 120%;
    display: flex
}

.homeLink {
    width : 20%;
    height: 100%;
    font-size: 40px;
    margin : 0% 1% 0% 1%;
    color: rgb(182, 183, 184);
    text-decoration: none;
    text-align: center;
}

.newDiscussion{
    padding-top: 2px;
    cursor: pointer;
    height: 100%;
    width: 20%;
    height: 100%;
    margin: 0;
    text-align: center;
}

.newDiscussionForm{
    top : 7%;
    left: 1%;
    width: 14%;
    border: 1px solid black;
}

.newDiscussionForm label{
    padding-top: 2%;
    font-size: larger;
    font-family: 'Roboto Medium', sans-serif;
}

.newDiscussionForm button{
    width: 20%;
    float: right;
    margin-top: 2%;
}

/* ---------------- search bar ---------------- */

.searchBar {
    padding: 2px;
    padding-top: 4px;
    display: flex;
    height: 100%;
    width: 100%;
    flex: 12%;
}

.searchBar input{
    width : 90%;
    padding-top: 1%;
    padding-left: 3%;
}

/* ---------------- right header below ---------------- */

.right_header_container {
    flex : 30%;
}

.registerLogin{
    height: 120%;
    width: 20%;
    float: right;
    padding-right: 0.5%;
}

#loginButton, #registerButton{
    margin-right: 3%;
    border: 0;
    background-color: rgb(109, 109, 109);
    width: 48%;
    height: 100%;
    border-radius: 2px;
    font-size: 20px;
    text-decoration: none;
    color : rgb(219, 219, 219);
    outline: none;
    box-shadow: 0 4px rgb(153, 152, 152);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#loginButton{
    width : 42%
}

#registerButton{
    width : 52%
}

#loginButton:hover, #registerButton:hover{
    background-color: rgb(138, 138, 138);
    cursor: pointer;
}

#loginButton:active, #registerButton:active{
    background-color: rgb(124, 124, 124);
    box-shadow: 0 1px rgb(158, 158, 158);
    transform: translateY(3px);
}

.loginForm, .registerForm{
    display: flex;
    flex-direction: column;
    z-index: 2202;
    position: fixed;
    top: 20%;
    left : 40%;
    width: 20%;
    padding : 1% 2% 1% 2%;
    opacity : 0.97;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
}

.loginForm input[type=text]{
    width : 100%;
}

.registerForm input[type=text]{
    width : 100%;
}

.loginForm button, input[type=submit]{
    margin-top: 3px;
    width: 30%;
    height: 25px;
}

.registerForm button, input[type=submit]{
    margin-top: 3px;
    width: 30%;
    height: 25px;
}

.userComponent{
    width: 30%;
    height: 120%;
    float: right;
    display: flex;
    padding: 0%;
    margin: 0;
}

.userInfo {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-left: 35px;
}

.username{
    font-size: 22px;
    margin: 0;
    margin-top: 6px;
    margin-right: 12px;
    padding: 0;
    cursor: pointer;
}

.profilePicture {
    border-radius: 100% !important;
    border: 1px solid black !important;
}

.userOptions {
    margin-top: 7px;
    align-items: center;
}

.optionImage {
    border-radius: 100% !important;
}

.optionImage:hover {
    background-color: rgb(17, 17, 17) !important;
    cursor: pointer;
}

.options{
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(61, 61, 61);
    z-index: 1;
    width: 5%;
    border: 1px solid black;
}

.options button{
    margin: 2px;
}

.options button:hover{
    background-color: rgb(122, 122, 122);
}