.userComponent {
    align-items: center;
    border: 1px solid black;
}

.userComponent p, h3, h4, h5, button {
    width: fit-content;
}

.userComponent h3, h4, h5 {
    border-bottom: 1px solid black;
}

.userComponent button:hover {
    cursor: pointer;
}

.friendList {
    height: 300px;
    overflow-y: scroll;
}

.friend {
    display: flex;
}

.friend p, button{
    padding: 0;
    margin: 0;
    border: 1px solid black;
    display: flex;
    border: 0;
}

.friend {
    font-size: 20px;
}

.friend:hover {
    cursor: pointer;
}